# Global properties
command=/usr/share/i3blocks/$BLOCK_NAME
separator_block_width=15
markup=none

[load_average]
label=
interval=2

[battery]
label=B:
interval=30
instance=0

{% if ansible_product_version == "ThinkPad T440" %}
[battery]
label=B:
interval=30
instance=1
{% endif %}

[time]
command=date '+%d/%m/%y %H:%M'
interval=5
